body {
    margin: 0px;
    padding: 0px;
}

header {
    margin-top: -20px;
    padding: 0px;
    background: black;
}

li {
    display: inline-block;
    margin: 30px;
    color: white;
}

.row {
    height: 100%;
    display: flex;
    width: 100%;
}

.column {
    width: 100%;
}

.login {
    height: 24rem;
    width: 70%;
    background-color: rgb(233, 231, 231);
    text-align: center;
    border-radius: 50px 15px 5px 30px;
    padding: 2px;
    margin: 0 auto
}

.signup {
    height: 24rem;
    text-align: center;
    color: white;
    width: 70%;
    background-color: rgba(244, 18, 18, 0.829);
    text-align: center;
    border-radius: 15px 50px 30px 5px;
    ;
    padding: 2px;
    margin: 0 auto
}

button {
    padding: 10px;
    background-color: red;
    border-radius: 14px;
}

h1 {
    margin-top: 85px;
}

input[type="text"]::placeholder {

    text-align: center;
}

.fa {
    border-radius: 14px;
    padding: 2px;
    text-align: center;
    font-size: 30px;
    width: 50px;
}
.fa-facebook {  
    background: #3B5998;  
    color: white;  
  }  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }  